@import '../abstract/variables';

.complete-order {
    background: $color-white;
    .complete-order-box {
        position: absolute;
        width: 90%;
        height: 80%;     
        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%,-50%);
        //border: black solid 2px;

        .img-completo-order {
            position: absolute;
            transform: translate(-50%,-50%);
            top: 30%;
            left: 50%;
        }

        h1 {
            position: absolute;
            color: $color-dark-purple;
            font-size: 1.7em;
            top: 50%;
            left: 15%;
            text-align: center;
        }

        p {
            position: absolute;
            color: $color-dark-purple;
            font-size: 1em;
            top: 60%;
            left: 10%;
            width: 35vh;
            text-align: center;
        }

        #track-order {
            font-family: $font;
            position: absolute;
            width: 15vh;
            height: 6vh;
            top: 75%;
            left: 32%;
            border-radius: 5px;
            background: $color-orange;
            border: none;
            color: $color-white;

        }

        #coninue-shopping {

            font-family: $font;
            position: absolute;
            width: 20vh;
            height: 6vh;
            top: 90%;
            left: 27%;
            border-radius: 5px;
            background: $color-white;
            border: $color-orange solid 1px;
            color: $color-orange
        }
    }
}