@import '../abstract/variables';

.home-screen {
    background: $color-white;

    .home-screen-details-box {
        position: absolute;
        width: 90%;
        height: 29%;     
        top: 17%;
        bottom: 50%;
        left: 49%;
        right: 50%;
        transform: translate(-50%,-50%);
        //border: black solid 2px;

        .img-menu-home {
            position: absolute;
            top: 3vh;
            left: 1.5vh;
        }

        .img-menu-basket {
            position: absolute;
            top: 0.7vh;
            left: 82%;
        }

        h1 {
            position: absolute;
            font-family: $font;
            font-size: 1em;
            width: 27vh;
            top: 7vh;
            left: 2vh;
        }

        .search-input{
            position: absolute;
            width: 35vh;
            height: 5vh;
            top: 20vh;
            left: 5vh;
            font-size: 0.9em;
            border: none;

            .search-input::placeholder {
                color: $color-dark-gray;
            }
        }

        .img-filter-home {
            position: absolute;
            width: 2.5vh;
            height: 1.5vh;
            top: 21.7vh;
            left: 87%;
        }

        
    }

    .home-screen-food-box-1 {
        position: absolute;
        width: 90%;
        height: 29%;     
        top: 48%;
        bottom: 50%;
        left: 49%;
        right: 50%;
        transform: translate(-50%,-50%);
        //border: black solid 2px;

        h1 {
            font-family: $font;
            font-size: 1.4em;
            position: absolute;
            left: 1vh;
            bottom: 28vh;
        }

        .img-heart-dish-1 {
            position: absolute;
            height: 3vh;
            top: 5vh;
            left: 14vh;
        }

        .img-dish-1 {
            position: absolute;
            width: 12vh;
            height: 12vh;
            top: 7vh;
            left: 3vh;
        }

        #dish-1-text{
            display: block;
            position: absolute;
            font-family: $font;
            width: 19vh;
            top: 21vh;
            left: 1vh;
            font-size: 1em;
        }

        #img-addition-1 {
            position: absolute;
            top: 24.7vh;
            left: 14.5vh;
        }

        #img-money-simbol-1 { 
            position: absolute;
            top: 24.9vh;
            left: 0.7vh; 

        }

        #value-dish-1 {
            position: absolute;
            display: inline;
            top: 24.7vh;
            font-size: 1em;
            left: 4vh;
            color: $color-orange;
        }

        .img-heart-dish-2 {
            position: absolute;
            height: 3vh;
            top: 5vh;
            left: 37.4vh;
        }

        .img-dish-2 {
            width: 12vh;
            height: 12vh;
            position: absolute;
            top: 7vh;
            left: 26.3vh;
        }

        #dish-2-text{
            display: block;
            position: absolute;
            font-family: $font;
            width: 20vh;
            top: 21vh;
            left: 24.3vh;
            font-size: 1em;
        }

        #img-addition-2 {
            position: absolute;
            top: 24.7vh;
            left: 38.5vh;
        }

        #img-money-simbol-2 { 
            position: absolute;
            top: 24.9vh;
            left: 24.3vh; 

        }

        #value-dish-2 {
            position: absolute;
            display: inline;
            top: 24.7vh;
            font-size: 1em;
            left: 28.5vh;
            color: $color-orange;
        }

    }

    .home-screen-food-box-2 {
        position: absolute;
        width: 90%;
        height: 29%;     
        top: 79%;
        bottom: 50%;
        left: 49%;
        right: 50%;
        transform: translate(-50%,-50%);
        border: black solid 2px;

    }
}