@import '../abstract/variables';

.home-screen {
    background: $color-white;
    font-family: $font;

    .home-screen-details-box {
        position: absolute;
        width: 90%;
        height: 29%;     
        top: 17%;
        bottom: 50%;
        left: 49%;
        right: 50%;
        transform: translate(-50%,-50%);
        //border: black solid 2px;

        .img-menu-home {
            position: absolute;
            top: 3vh;
            left: 1.5vh;
        }

        .img-menu-basket {
            position: absolute;
            top: 0.7vh;
            left: 82%;
        }

        h1 {
            position: absolute;
            font-family: $font;
            font-size: 1em;
            width: 27vh;
            top: 7vh;
            left: 2vh;
        }

        .search-input{
            position: absolute;
            width: 35vh;
            height: 5vh;
            top: 20vh;
            left: 5vh;
            font-size: 0.9em;
            border: none;

            .search-input::placeholder {
                color: $color-dark-gray;
            }
        }

        .img-filter-home {
            position: absolute;
            width: 2.5vh;
            height: 1.5vh;
            top: 21.7vh;
            left: 87%;
        }

        
    }

    .home-screen-food-box-1 {
        position: absolute;
        width: 90%;
        height: 29%;     
        top: 48%;
        bottom: 50%;
        left: 49%;
        right: 50%;
        transform: translate(-50%,-50%);
        //border: black solid 2px;

        h1 {
            font-family: $font;
            font-size: 1.4em;
            position: absolute;
            left: 1vh;
            bottom: 28vh;
        }

        .img-heart-dish-1 {
            position: absolute;
            height: 3vh;
            top: 5vh;
            left: 14vh;
        }

        .img-dish-1 {
            position: absolute;
            width: 12vh;
            height: 12vh;
            top: 7vh;
            left: 3vh;
        }

        #dish-1-text{
            display: block;
            position: absolute;
            font-family: $font;
            width: 22vh;
            top: 21vh;
            left: 1vh;
            font-size: 1em;
            text-decoration: none;
            color: $color-dark-purple;
            cursor: pointer;

        }

        #dish-1-text:hover{
            text-decoration: underline;
        }

        #img-addition-1 {
            position: absolute;
            top: 24.7vh;
            left: 14.5vh;
        }

        #img-money-simbol-1 { 
            position: absolute;
            top: 24.9vh;
            left: 0.7vh; 

        }

        #value-dish-1 {
            position: absolute;
            display: inline;
            top: 24.7vh;
            font-size: 1em;
            left: 4vh;
            color: $color-orange;
        }

        .img-heart-dish-2 {
            position: absolute;
            height: 3vh;
            top: 5vh;
            left: 37.4vh;
        }

        .img-dish-2 {
            width: 12vh;
            height: 12vh;
            position: absolute;
            top: 7vh;
            left: 26.3vh;
        }

        #dish-2-text{
            display: block;
            position: absolute;
            font-family: $font;
            width: 22vh;
            top: 21vh;
            left: 24.3vh;
            font-size: 1em;
            text-decoration: none;
            color: $color-dark-purple;
            cursor: pointer;

        }

        #dish-2-text:hover{
            text-decoration: underline;
        }

        #img-addition-2 {
            position: absolute;
            top: 24.7vh;
            left: 38.5vh;
        }

        #img-money-simbol-2 { 
            position: absolute;
            top: 24.9vh;
            left: 24.3vh; 

        }

        #value-dish-2 {
            position: absolute;
            display: inline;
            top: 24.7vh;
            font-size: 1em;
            left: 28.5vh;
            color: $color-orange;
        }

    }

    .home-screen-food-box-2 {
        position: absolute;
        width: 90%;
        height: 35%;     
        top: 80%;
        bottom: 52%;
        left: 49%;
        right: 50%;
        transform: translate(-50%,-50%);
        //border: black solid 2px;

        .title-category-1 {
            position: absolute;
            font-weight: bold;
           bottom: 28vh;
            left: 0.2vh;
            font-size: 1.5em;
            color: $color-dark-purple;
            text-decoration: none;
            cursor: pointer;
        }

        .title-category-1:hover{
            text-decoration: underline;
        }

        .title-category-2 {
            position: absolute;
            bottom: 28vh;
            left: 14vh;
            font-size: 1.3em;
            color: #938db5;
            text-decoration: none;
            cursor: pointer;
        }

        .title-category-2:hover{
            text-decoration: underline;
        }

        .title-category-3 {
            position: absolute;
            bottom: 28vh;
            left: 26vh;
            font-size: 1.3em;
            color: #938db5;
            text-decoration: none;
            cursor: pointer;
        }

        .title-category-3:hover{
            text-decoration: underline;
        }

        .title-category-4 {
            position: absolute;
            bottom: 28vh;
            left: 44vh;
            font-size: 1.3em;
            color: #938db5;
            text-decoration: none;
            cursor: pointer;
        }

        .title-category-4:hover{
            text-decoration: underline;
        }

        .img-heart-dish-3 {
            position: absolute;
            height: 3vh;
            top: 13vh;
            left: 14vh;
        }

        .img-dish-3 {
            position: absolute;
            width: 12vh;
            height: 12vh;
            top: 15vh;
            left: 3vh;
        }

        #dish-3-text{
            position: absolute;
            font-family: $font;
            width: 22vh;
            top: 28vh;
            left: 1vh;
            font-size: 1em;
            text-decoration: none;
            color: $color-dark-purple;
            cursor: pointer;

        }

        #dish-3-text:hover{
            text-decoration: underline;
        }

        #img-addition-3 {
            position: absolute;
            top: 30.2vh;
            left: 14.5vh;
        }

        #img-money-simbol-3 { 
            position: absolute;
            top: 31vh;
            left: 0.7vh; 

        }

        #value-dish-3 {
            position: absolute;
            top: 31vh;
            font-size: 1em;
            left: 4vh;
            color: $color-orange;
        }
        
        .img-heart-dish-4 {
            position: absolute;
            height: 3vh;
            top: 13.5vh;
            left: 30vh;
        }

        .img-dish-4 {
            position: absolute;
            width: 12vh;
            height: 12vh;
            top: 15vh;
            left: 20vh;
        }

        #dish-4-text{
            position: absolute;
            font-family: $font;
            width: 22vh;
            top: 28vh;
            left: 20vh;
            font-size: 1em;
            text-decoration: none;
            color: $color-dark-purple;
            cursor: pointer;

        }

        #dish-4-text:hover{
            text-decoration: underline;
        }

        #img-addition-4 {
            position: absolute;
            top: 30.2vh;
            left: 33vh;
        }

        #img-money-simbol-4 { 
            position: absolute;
            top: 31vh;
            left: 20vh; 

        }

        #value-dish-4 {
            position: absolute;
            top: 31vh;
            font-size: 1em;
            left: 23vh;
            color: $color-orange;
        }

        .img-heart-dish-5 {
            position: absolute;
            height: 3vh;
            top: 13vh;
            left: 49vh;
        }

        .img-dish-5 {
            position: absolute;
            width: 12vh;
            height: 12vh;
            top: 15vh;
            left: 38vh;
        }

        #dish-5-text{
            position: absolute;
            font-family: $font;
            width: 22vh;
            top: 28vh;
            left: 39vh;
            font-size: 1em;
            text-decoration: none;
            color: $color-dark-purple;
            cursor: pointer;

        }

        #dish-5-text:hover{
            text-decoration: underline;
        }

        #img-addition-5 {
            position: absolute;
            top: 30.2vh;
            left: 49vh;
        }


        #img-money-simbol-5 { 
            position: absolute;
            top: 31vh;
            left: 39vh; 

        }

        #value-dish-5 {
            position: absolute;
            top: 30.7vh;
            font-size: 1em;
            left: 42.2vh;
            color: $color-orange;
        }

    }
}