@import '../abstract/variables';


.home-welcome {
    background: $color-white;
    font-family: $font;
    width: 100%;
    height: 27%;

    .home-screen-details-box {
        position: absolute;
        width: 99%;
        height: 24.5%;
        top: 12.5%;
        bottom: 50%;
        left: 49.2%;
        right: 50%;
        transform: translate(-50%, -50%);
        //border: black solid 2px;

        .img-menu-home {
            position: absolute;
            top: 2vh;
            left: 1.5vh;
        }

        .img-menu-basket {
            position: absolute;
            top: 1vh;
            left: 84%;
        }

        h1 {
            position: absolute;
            font-family: $font;
            font-size: 1em;
            width: 75%;
            top: 7vh;
            left: 2vh;
        }

        .search-input {
            position: absolute;
            width: 80%;
            height: 5vh;
            top: 18vh;
            left: 3vh;
            font-size: 0.9em;
            border: none;

            .search-input::placeholder {
                color: $color-dark-gray;
            }
        }

        .img-filter-home {
            position: absolute;
            width: 2.5vh;
            height: 1.5vh;
            top: 19.7vh;
            left: 90%;
        }


    }
}


.home-recomended {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding-bottom: 10%;
    //border: black solid 2px;

    h1 {
        padding-top: 1em;
        font-size: 1.4em;
        color: $color-dark-purple;
    }
    .all-cards {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;

        .card {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            position: relative;
            border-radius: 10px;
            border: none;
            width: 45%;
            height: 12em;

            .card-show {
                text-align: center;
                box-sizing: border-box;
                width: 100%;
                height: 90%;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;

                img {
                    justify-content: center;
                    align-items: center;
                    width: 60%;
                    padding: 5%;
                }

                h2 {
                    color: $color-dark-purple;
                    font-size: 0.9em;
                    padding: 0 0.5em;
                }
            }

            .information {
                display: flex;
                
                .heart {
                    position: absolute;
                    right: 0.5em;
                    top: 0.5em;
                }
                .value {
                    display: flex;
                    position: absolute;
                    bottom: 0.5em;
                    left: 0.5em;

                    .money-simbol {
                        height: 0.9em;
                        position: absolute;
                        left: 0.5em;
                        bottom: 0.5em;
                    }
                    h2 {
                        position: absolute;
                        left: 2em;
                        bottom: 0.5em;
                        font-size: 0.9em;
                        color: $color-orange;   
                    }
                }
                .addition {
                    height: 2em;
                    position: absolute;
                    right: 0.5em;
                    bottom: 0.5em;   
                }
            }
        }
    }
}


.home-category {
    .categorys {
        width: 100%;
        //border: red solid 2px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .title-category-1 {
            font-weight: bold;
            font-size: 1.2rem;
            color: $color-dark-purple;
            cursor: pointer;
            text-decoration: underline $color-orange 4px;
        }

        .title-category-2 {
            font-size: 1.1rem;
            color: #938db5;
            text-decoration: none;
            cursor: pointer;
        }

        .title-category-2:hover {
            text-decoration: underline;
        }

        .title-category-3 {
            font-size: 1.1rem;
            color: #938db5;
            text-decoration: none;
            cursor: pointer;
        }

        .title-category-3:hover {
            text-decoration: underline;
        }

        .title-category-4 {
            font-size: 1.1rem;
            color: #938db5;
            text-decoration: none;
            cursor: pointer;
        }

        .title-category-4:hover {
            text-decoration: underline;
        }
    }
}

.home-slider {
    width: 100%;
    overflow: scroll;
    display: flex;
    position: absolute;    

    .card {
        display: flex;
        position: relative;
        min-width: 37%;
        margin: 5% 2.5%;
        flex-direction: column;
        border-radius: 10px;
        border: none;
        height: 12em;

        .card-show {
            text-align: center;
            width: 100%;
            height: 90%;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;

            .heart {
                position: absolute;
                display: flex;
                height: 1em;
                width: 1em;
                right: 0.5em;
                top: 0.5em;
            }
            .image {
                position: relative;
                width: 100%;
                height: 60%;
                align-items: center;    
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    width: 60%;
                    margin: auto auto;
                    vertical-align: center;
                }
            }
            h2 {
                color: $color-dark-purple;
                display: flex;
                align-items: baseline;
                font-size: 0.9em;
                padding: 0 0.5em;
            }
        }

        .information {
            display: flex;          
            .value {
                display: flex;
                position: absolute;
                bottom: 0.5em;
                left: 0.5em;
                .money-simbol {
                    height: 0.9em;
                    position: absolute;
                    left: 0.2em;
                    bottom: 0.2em;
                }

                h2 {
                    left: 2em;
                    position: absolute;
                    bottom: 0.5em;
                    font-size: 0.9em;
                    color: $color-orange; 
                }
            }

            .addition {
                position: absolute;
                height: 2em;
                right: 0.2em;
                bottom: 0.5em;
            }
        }        
        &:nth-of-type(1){
            background-color: $color-dish-1;
        }
        &:nth-of-type(2){
            background-color: $color-dish-2;
        }
        &:nth-of-type(3){
            background-color: $color-dish-3;
        }
        &:nth-of-type(4){
            background-color: $color-dish-4;
        }
        &:nth-of-type(5){
            background-color: $color-dish-5;
        }  
    }        
}