@import '../abstract/variables';

// CSS Index
.body-index {
// CSS imagens de cesta de frutas
    .basket-fruit {
        background: $color-orange;
        width: 100%;
        height: 450px;

        .img-fruits {
            width: 50px;
            height: 37px;
            margin: 130px 0px 0px 305px;
            position: absolute;
        }

        .img-fruits-basket {
            width: 300px;
            height: 260px;
            margin: 150px 50px 0 50px;
        }

        .img-shadow-basket{
            width: 300px;
            height: 12px;
            margin: 5px 50px 0 50px;
        }

        
    }

// CSS descrição e CSS do botão
    .description {
        width: 100%;
        height: 340px;
        font-family:  $font;

        h1 {
           color: $color-dark-purble;  
           margin: 50px 0px 20px 30px;
           font-size: 20px;
        }

        p {
            color: $color-purble;
            font-size: 16px;
            margin: 0 0px 0px 40px ;
        }

        .buttom-continue {
            width: 320px;
            height: 50px;
            background: $color-orange;
            margin: 140px 35px 0px 35px;
            color: $color-white;
            font-family: $font;
            border: none;
            border-radius: 10px;
        }
        
    }
}

