@import '../abstract/variables';

.tracker-order {
    font-family: $font;

    .tracker-order-box-1 {
        position: absolute;
        width: 100vw;
        height: 18%;     
        background: $color-orange;
        //border: black solid 2px;

        .delivery-status {
            position: absolute;
            top: 50%;
            left: 18vh;
            font-size: 1.2em;
            color: $color-white;
            font-weight:500;
    
        }
    
        .button-back {
            position: absolute;
            border-radius: 20px;
            width: 13vh;
            height: 5vh;
            top: 45%;
            left: 3vh;
            border: none;
            font-size: 0.9em;
            color: $color-black;
        }
    
    }

    

    .tracker-order-box-2 {
        position: absolute;
        width: 98%;
        height: 80.9%;     
        top: 59%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: $color-white;
        //border: black solid 2px;

        .order-taken {
            position: absolute;
            font-size: 0.9em;
            left: 25%;
            top: 6vh;
            
        }

        .img-right-tracker-1 {
            position: absolute;
            top: 6%;
            left: 87%;
        }

        .img-paper-pencil {
            position: absolute;
            top: 4.1vh;
            left: 2vh;
        }

        .img-line-1 {
            position: absolute;
            left: 5.5vh;
            top: 12vh;
        }

        .img-clipboard {
            position: absolute;
            left: 1.7vh;
            top: 20vh;
        }

        .img-right-tracker-2{
            position: absolute;
            top: 25%;
            left: 87%;
        }

        .Order-is-being-1 {
            position: absolute;
            font-size: 0.9em;
            left: 25%;
            top: 22vh;
        }

        .img-line-2 {
            position: absolute;
            left: 5.5vh;
            top: 29vh;
        }

        .img-bike {
            position: absolute;
            top: 35vh;
            left: 3%;         
        }

        .img-phone {
            position: absolute;
            top: 45%;
            left: 86%;
        }

        .Order-is-being-2 {
            position: absolute;
            font-size: 0.9em;
            left: 25%;
            top: 37vh;
        }

        .text-tracker-order {
            position: absolute;
            top: 40vh;
            left: 28%;
            font-size: 0.7em;
        }

        .img-line-3 {
            position: absolute;
            left: 5.5vh;
            top: 53%;
        }

        .img-map {
            position: absolute;
            border-radius: 2px;
            top: 48vh;
            left: 8%;
            width: 90%;
        }

        .img-line-4 {
            position: absolute;
            left: 5.5vh;
            top: 65vh;
        }
        
        .img-right-tracker-3{
            position: absolute;
            top: 90%;
            left: 7%;
        }


        .order-recived {
            position: absolute;
            top: 91.8%;
            font-size: 0.9em;
            left: 13vh;

        }

        .img-three-point {
            position: absolute;
            top: 93%;
            left: 87%;
        }
    }

    

}