@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27');

$color-orange: #ffa451;
$color-white: #ffffff;
$color-black: #000000;
$color-dark-orange: #f08626;
$color-dark-purple: #27214D;
$color-purple: #5D577E;
$color-light-gray: #F3F1F1;
$color-gray: #C2BDBD;
$color-dark-gray: #86869E;
$color-dish-1: #FFFAEB;
$color-dish-2: #FEF0F0;
$color-dish-3: #F1EFF6;
$color-dish-4: #E9ECFF;
$color-dish-5: #F0FAEB;
$font: 'Lato', sans-serif;