@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
.basket-fruit-index-background {
  background: #ffa451;
  width: 100%;
  height: 50vh;
  position: relative;
}

.basket-fruit-index-background .basket-fruit-index {
  position: absolute;
  height: 45vh;
  width: 42vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.basket-fruit-index-background .basket-fruit-index .img-fruits {
  width: 8vh;
  height: 6vh;
  margin: 130px 0px 0px 305px;
  position: absolute;
  bottom: 35vh;
  right: 2vh;
}

.basket-fruit-index-background .basket-fruit-index .img-fruits-basket {
  position: relative;
  width: 40vh;
  height: 34vh;
  top: 10%;
}

.basket-fruit-index-background .basket-fruit-index .img-shadow-basket {
  position: absolute;
  width: 40vh;
  height: 2vh;
  top: 40vh;
  right: 1vh;
}

.description {
  background: #ffffff;
  width: 100%;
  height: 50vh;
  font-family: "Lato", sans-serif;
  position: relative;
}

.description .text-index {
  position: absolute;
  height: 45vh;
  width: 42vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.description .text-index h1 {
  color: #27214D;
  left: 3vh;
  top: 11vh;
  font-size: 1.2em;
  position: absolute;
}

.description .text-index p {
  color: #5D577E;
  font-size: 16px;
  left: 3vh;
  top: 18vh;
  font-size: 1.1em;
  position: absolute;
}

.description .text-index .buttom-continue {
  width: 38vh;
  height: 5vh;
  background: #ffa451;
  left: 3vh;
  top: 30vh;
  font-size: 20px;
  position: absolute;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  border: none;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.basket-fruit-name-background {
  background: #ffa451;
  width: 100%;
  height: 51vh;
  position: relative;
}

.basket-fruit-name-background .basket-fruit-name {
  position: absolute;
  height: 45vh;
  width: 42vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.basket-fruit-name-background .basket-fruit-name .img-fruits {
  width: 8vh;
  height: 6vh;
  margin: 130px 0px 0px 305px;
  position: absolute;
  bottom: 35vh;
  right: 2vh;
}

.basket-fruit-name-background .basket-fruit-name .img-fruits-basket-elliptic {
  position: relative;
  width: 40vh;
  height: 34vh;
  top: 10%;
}

.basket-fruit-name-background .basket-fruit-name .img-shadow-basket {
  position: absolute;
  width: 40vh;
  height: 2vh;
  top: 40vh;
  right: 1vh;
}

.form-name-box {
  background: #ffffff;
  width: 100%;
  height: 50vh;
  font-family: "Lato", sans-serif;
  position: relative;
}

.form-name-box .form-name {
  position: absolute;
  height: 40vh;
  width: 45vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-name-box .form-name #label-name {
  color: #27214D;
  width: 35vh;
  left: 2vh;
  top: 5vh;
  font-size: 1.1em;
  position: absolute;
}

.form-name-box .form-name #name {
  border: none;
  height: 5vh;
  width: 40vh;
  left: 1.2vh;
  top: 16vh;
  font-size: 1em;
  position: absolute;
  background: #F3F1F1;
}

.form-name-box .form-name #name::-webkit-input-placeholder {
  color: #C2BDBD;
}

.form-name-box .form-name #name:-ms-input-placeholder {
  color: #C2BDBD;
}

.form-name-box .form-name #name::-ms-input-placeholder {
  color: #C2BDBD;
}

.form-name-box .form-name #name::placeholder {
  color: #C2BDBD;
}

.form-name-box .form-name .buttom-start {
  width: 40vh;
  height: 7vh;
  background: #ffa451;
  left: 1.2vh;
  top: 24vh;
  font-size: 20px;
  position: absolute;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  border: none;
  border-radius: 10px;
}

.index-template {
  background: #ffffff;
}

.index-template .index-box {
  position: absolute;
  width: 60%;
  height: 50%;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.index-template .index-box .img-index {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}

.home-screen {
  background: #ffffff;
  font-family: "Lato", sans-serif;
}

.home-screen .home-screen-details-box {
  position: absolute;
  width: 90%;
  height: 29%;
  top: 17%;
  bottom: 50%;
  left: 49%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home-screen .home-screen-details-box .img-menu-home {
  position: absolute;
  top: 3vh;
  left: 1.5vh;
}

.home-screen .home-screen-details-box .img-menu-basket {
  position: absolute;
  top: 0.7vh;
  left: 82%;
}

.home-screen .home-screen-details-box h1 {
  position: absolute;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  width: 27vh;
  top: 7vh;
  left: 2vh;
}

.home-screen .home-screen-details-box .search-input {
  position: absolute;
  width: 35vh;
  height: 5vh;
  top: 18vh;
  left: 3vh;
  font-size: 0.9em;
  border: none;
}

.home-screen .home-screen-details-box .search-input .search-input::-webkit-input-placeholder {
  color: #86869E;
}

.home-screen .home-screen-details-box .search-input .search-input:-ms-input-placeholder {
  color: #86869E;
}

.home-screen .home-screen-details-box .search-input .search-input::-ms-input-placeholder {
  color: #86869E;
}

.home-screen .home-screen-details-box .search-input .search-input::placeholder {
  color: #86869E;
}

.home-screen .home-screen-details-box .img-filter-home {
  position: absolute;
  width: 2.5vh;
  height: 1.5vh;
  top: 19.7vh;
  left: 87%;
}

.home-screen .home-screen-food-box-1 {
  position: absolute;
  width: 90%;
  height: 25%;
  top: 43%;
  bottom: 50%;
  left: 49%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home-screen .home-screen-food-box-1 h1 {
  font-family: "Lato", sans-serif;
  font-size: 1.4em;
  position: absolute;
  left: 1vh;
  bottom: 22vh;
}

.home-screen .home-screen-food-box-1 .img-heart-dish-1 {
  position: absolute;
  height: 3vh;
  top: 5vh;
  left: 14vh;
}

.home-screen .home-screen-food-box-1 .img-dish-1 {
  position: absolute;
  width: 12vh;
  height: 12vh;
  top: 7vh;
  left: 3vh;
}

.home-screen .home-screen-food-box-1 #dish-1-text {
  display: block;
  position: absolute;
  font-family: "Lato", sans-serif;
  white-space: nowrap;
  top: 21vh;
  left: 1vh;
  font-size: 0.8em;
  text-decoration: none;
  color: #27214D;
  cursor: pointer;
}

.home-screen .home-screen-food-box-1 #dish-1-text:hover {
  text-decoration: underline;
}

.home-screen .home-screen-food-box-1 #img-addition-1 {
  position: absolute;
  top: 24.7vh;
  left: 14.5vh;
}

.home-screen .home-screen-food-box-1 #img-money-simbol-1 {
  position: absolute;
  top: 24.9vh;
  left: 0.7vh;
}

.home-screen .home-screen-food-box-1 #value-dish-1 {
  position: absolute;
  display: inline;
  top: 24.7vh;
  font-size: 1em;
  left: 4vh;
  color: #ffa451;
}

.home-screen .home-screen-food-box-1 .img-heart-dish-2 {
  position: absolute;
  height: 3vh;
  top: 5vh;
  left: 37.4vh;
}

.home-screen .home-screen-food-box-1 .img-dish-2 {
  width: 12vh;
  height: 12vh;
  position: absolute;
  top: 7vh;
  left: 26.3vh;
}

.home-screen .home-screen-food-box-1 #dish-2-text {
  display: block;
  position: absolute;
  font-family: "Lato", sans-serif;
  white-space: nowrap;
  top: 21vh;
  left: 24.3vh;
  font-size: 0.8em;
  text-decoration: none;
  color: #27214D;
  cursor: pointer;
}

.home-screen .home-screen-food-box-1 #dish-2-text:hover {
  text-decoration: underline;
}

.home-screen .home-screen-food-box-1 #img-addition-2 {
  position: absolute;
  top: 24.7vh;
  left: 38.5vh;
}

.home-screen .home-screen-food-box-1 #img-money-simbol-2 {
  position: absolute;
  top: 24.9vh;
  left: 24.3vh;
}

.home-screen .home-screen-food-box-1 #value-dish-2 {
  position: absolute;
  display: inline;
  top: 24.7vh;
  font-size: 1em;
  left: 28.5vh;
  color: #ffa451;
}

.home-screen .home-screen-food-box-2 {
  position: absolute;
  width: 90%;
  height: 35%;
  top: 80%;
  bottom: 52%;
  left: 49%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home-screen .home-screen-food-box-2 .title-category-1 {
  position: absolute;
  font-weight: bold;
  bottom: 28vh;
  left: 0.2vh;
  font-size: 1.5em;
  color: #27214D;
  cursor: pointer;
  -webkit-text-decoration: underline #ffa451 4px;
          text-decoration: underline #ffa451 4px;
}

.home-screen .home-screen-food-box-2 .title-category-2 {
  position: absolute;
  bottom: 28vh;
  left: 14vh;
  font-size: 1.3em;
  color: #938db5;
  text-decoration: none;
  cursor: pointer;
}

.home-screen .home-screen-food-box-2 .title-category-2:hover {
  text-decoration: underline;
}

.home-screen .home-screen-food-box-2 .title-category-3 {
  position: absolute;
  bottom: 28vh;
  left: 26vh;
  font-size: 1.3em;
  color: #938db5;
  text-decoration: none;
  cursor: pointer;
}

.home-screen .home-screen-food-box-2 .title-category-3:hover {
  text-decoration: underline;
}

.home-screen .home-screen-food-box-2 .title-category-4 {
  position: absolute;
  bottom: 28vh;
  left: 44vh;
  font-size: 1.3em;
  color: #938db5;
  text-decoration: none;
  cursor: pointer;
}

.home-screen .home-screen-food-box-2 .title-category-4:hover {
  text-decoration: underline;
}

.home-screen .home-screen-food-box-2 .img-heart-dish-3 {
  position: absolute;
  height: 3vh;
  top: 13vh;
  left: 14vh;
}

.home-screen .home-screen-food-box-2 .img-dish-3 {
  position: absolute;
  width: 12vh;
  height: 12vh;
  top: 15vh;
  left: 3vh;
}

.home-screen .home-screen-food-box-2 #dish-3-text {
  position: absolute;
  font-family: "Lato", sans-serif;
  white-space: nowrap;
  top: 28vh;
  left: 1vh;
  font-size: 0.8em;
  text-decoration: none;
  color: #27214D;
  cursor: pointer;
}

.home-screen .home-screen-food-box-2 #dish-3-text:hover {
  text-decoration: underline;
}

.home-screen .home-screen-food-box-2 #img-addition-3 {
  position: absolute;
  top: 30.2vh;
  left: 14.5vh;
}

.home-screen .home-screen-food-box-2 #img-money-simbol-3 {
  position: absolute;
  top: 31vh;
  left: 0.7vh;
}

.home-screen .home-screen-food-box-2 #value-dish-3 {
  position: absolute;
  top: 31vh;
  font-size: 1em;
  left: 4vh;
  color: #ffa451;
}

.home-screen .home-screen-food-box-2 .img-heart-dish-4 {
  position: absolute;
  height: 3vh;
  top: 13.5vh;
  left: 30vh;
}

.home-screen .home-screen-food-box-2 .img-dish-4 {
  position: absolute;
  width: 12vh;
  height: 12vh;
  top: 15vh;
  left: 20vh;
}

.home-screen .home-screen-food-box-2 #dish-4-text {
  position: absolute;
  font-family: "Lato", sans-serif;
  white-space: nowrap;
  top: 28vh;
  left: 20vh;
  font-size: 0.8em;
  text-decoration: none;
  color: #27214D;
  cursor: pointer;
}

.home-screen .home-screen-food-box-2 #dish-4-text:hover {
  text-decoration: underline;
}

.home-screen .home-screen-food-box-2 #img-addition-4 {
  position: absolute;
  top: 30.2vh;
  left: 33vh;
}

.home-screen .home-screen-food-box-2 #img-money-simbol-4 {
  position: absolute;
  top: 31vh;
  left: 20vh;
}

.home-screen .home-screen-food-box-2 #value-dish-4 {
  position: absolute;
  top: 31vh;
  font-size: 1em;
  left: 23vh;
  color: #ffa451;
}

.home-screen .home-screen-food-box-2 .img-heart-dish-5 {
  position: absolute;
  height: 3vh;
  top: 13vh;
  left: 49vh;
}

.home-screen .home-screen-food-box-2 .img-dish-5 {
  position: absolute;
  width: 12vh;
  height: 12vh;
  top: 15vh;
  left: 38vh;
}

.home-screen .home-screen-food-box-2 #dish-5-text {
  position: absolute;
  font-family: "Lato", sans-serif;
  white-space: nowrap;
  top: 28vh;
  left: 39vh;
  font-size: 0.8em;
  text-decoration: none;
  color: #27214D;
  cursor: pointer;
}

.home-screen .home-screen-food-box-2 #dish-5-text:hover {
  text-decoration: underline;
}

.home-screen .home-screen-food-box-2 #img-addition-5 {
  position: absolute;
  top: 30.2vh;
  left: 49vh;
}

.home-screen .home-screen-food-box-2 #img-money-simbol-5 {
  position: absolute;
  top: 31vh;
  left: 39vh;
}

.home-screen .home-screen-food-box-2 #value-dish-5 {
  position: absolute;
  top: 30.7vh;
  font-size: 1em;
  left: 42.2vh;
  color: #ffa451;
}

.complete-order {
  background: #ffffff;
}

.complete-order .complete-order-box {
  position: absolute;
  width: 90%;
  height: 80%;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.complete-order .complete-order-box .img-completo-order {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
}

.complete-order .complete-order-box h1 {
  position: absolute;
  color: #27214D;
  font-size: 1.7em;
  top: 50%;
  left: 15%;
  text-align: center;
}

.complete-order .complete-order-box p {
  position: absolute;
  color: #27214D;
  font-size: 1em;
  top: 60%;
  left: 10%;
  width: 35vh;
  text-align: center;
}

.complete-order .complete-order-box #track-order {
  font-family: "Lato", sans-serif;
  position: absolute;
  width: 15vh;
  height: 6vh;
  top: 75%;
  left: 32%;
  border-radius: 5px;
  background: #ffa451;
  border: none;
  color: #ffffff;
}

.complete-order .complete-order-box #coninue-shopping {
  font-family: "Lato", sans-serif;
  position: absolute;
  width: 20vh;
  height: 6vh;
  top: 90%;
  left: 27%;
  border-radius: 5px;
  background: #ffffff;
  border: #ffa451 solid 1px;
  color: #ffa451;
}

.tracker-order {
  font-family: "Lato", sans-serif;
}

.tracker-order .tracker-order-box-1 {
  position: absolute;
  width: 100%;
  height: 18%;
  top: 9%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffa451;
}

.tracker-order .tracker-order-box-1 .delivery-status {
  position: absolute;
  top: 50%;
  left: 18vh;
  font-size: 1.2em;
  color: #ffffff;
  font-weight: 500;
}

.tracker-order .tracker-order-box-1 .button-back {
  position: absolute;
  border-radius: 20px;
  width: 13vh;
  height: 5vh;
  top: 47%;
  left: 3vh;
  border: none;
  font-size: 0.9em;
  color: #000000;
}

.tracker-order .tracker-order-box-2 {
  position: absolute;
  width: 98%;
  height: 80.9%;
  top: 59%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
}

.tracker-order .tracker-order-box-2 .order-taken {
  position: absolute;
  font-size: 0.9em;
  left: 13vh;
  top: 6vh;
}

.tracker-order .tracker-order-box-2 .img-right-tracker-1 {
  position: absolute;
  top: 5.3vh;
  left: 45vh;
  width: 4vh;
  height: 4vh;
}

.tracker-order .tracker-order-box-2 .img-paper-pencil {
  position: absolute;
  top: 4.1vh;
  left: 2vh;
}

.tracker-order .tracker-order-box-2 .img-line-1 {
  position: absolute;
  left: 5.5vh;
  top: 12vh;
}

.tracker-order .tracker-order-box-2 .img-clipboard {
  position: absolute;
  left: 1.7vh;
  top: 20vh;
}

.tracker-order .tracker-order-box-2 .img-right-tracker-2 {
  position: absolute;
  top: 21.9vh;
  left: 45vh;
  width: 4vh;
  height: 4vh;
}

.tracker-order .tracker-order-box-2 .Order-is-being-1 {
  position: absolute;
  font-size: 0.9em;
  left: 13vh;
  top: 22vh;
}

.tracker-order .tracker-order-box-2 .img-line-2 {
  position: absolute;
  left: 5.5vh;
  top: 29vh;
}

.tracker-order .tracker-order-box-2 .img-bike {
  position: absolute;
  top: 35vh;
  left: 2.5vh;
}

.tracker-order .tracker-order-box-2 .img-phone {
  position: absolute;
  top: 36vh;
  left: 44.7vh;
  width: 5vh;
  height: 5vh;
}

.tracker-order .tracker-order-box-2 .Order-is-being-2 {
  position: absolute;
  font-size: 0.9em;
  left: 13vh;
  top: 37vh;
}

.tracker-order .tracker-order-box-2 .text-tracker-order {
  position: absolute;
  top: 40vh;
  left: 13.3vh;
  font-size: 0.7em;
}

.tracker-order .tracker-order-box-2 .img-line-3 {
  position: absolute;
  left: 5.5vh;
  top: 45vh;
}

.tracker-order .tracker-order-box-2 .img-map {
  position: absolute;
  border-radius: 2px;
  top: 50vh;
  left: 3vh;
  height: 15vh;
  width: 45vh;
}

.tracker-order .tracker-order-box-2 .img-line-3 {
  position: absolute;
  left: 5.5vh;
  top: 65vh;
}

.tracker-order .tracker-order-box-2 .img-right-tracker-3 {
  position: absolute;
  top: 71vh;
  left: 3.5vh;
  width: 4vh;
  height: 4vh;
}

.tracker-order .tracker-order-box-2 .order-recived {
  position: absolute;
  top: 72vh;
  font-size: 0.9em;
  left: 13vh;
}

.tracker-order .tracker-order-box-2 .img-three-point {
  position: absolute;
  top: 73vh;
  left: 43vh;
}

.add-basket {
  font-family: "Lato", sans-serif;
}

.add-basket .add-basket-box-1 {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffa451;
}

.add-basket .add-basket-box-1 .button-back-add-basket {
  position: absolute;
  border-radius: 20px;
  width: 13vh;
  height: 5vh;
  top: 20%;
  left: 2vh;
  border: none;
  font-size: 0.9em;
  color: #000000;
}

.add-basket .add-basket-box-1 .img-dish-add-basket {
  position: absolute;
  top: 25%;
  left: 30%;
}

.add-basket .add-basket-box-2 {
  position: absolute;
  width: 98.5%;
  height: 60%;
  top: 65.4%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
}

.add-basket .add-basket-box-2 .order-name {
  position: absolute;
  top: 5%;
  left: 5%;
  color: #27214D;
  font-size: 1.5em;
}

.add-basket .add-basket-box-2 .img-minus {
  position: absolute;
  top: 20.3%;
  left: 3%;
  width: 4.5vh;
  height: 4.5vh;
}

.add-basket .add-basket-box-2 .img-addition-add-basket {
  position: absolute;
  top: 20.3%;
  left: 26%;
  width: 4.5vh;
  height: 4.5vh;
}

.add-basket .add-basket-box-2 .order-quantity {
  position: absolute;
  top: 21%;
  left: 18%;
  color: #27214D;
  font-size: 1.3em;
  font-weight: bold;
}

.add-basket .add-basket-box-2 .img-money-simbol-black {
  position: absolute;
  top: 22.2%;
  left: 72%;
}

.add-basket .add-basket-box-2 .order-value {
  position: absolute;
  top: 20.6%;
  left: 80%;
  font-size: 1.3em;
  color: #27214D;
  font-weight: bold;
}

.add-basket .add-basket-box-2 .order-title-description {
  position: absolute;
  top: 38%;
  left: 5%;
  font-size: 1em;
  -webkit-text-decoration: underline #ffa451 2px;
          text-decoration: underline #ffa451 2px;
  color: #27214D;
}

.add-basket .add-basket-box-2 .pack-content {
  position: absolute;
  top: 48%;
  left: 5%;
  font-size: 0.9em;
  color: #27214D;
}

.add-basket .add-basket-box-2 .pack-description {
  position: absolute;
  top: 65%;
  left: 5%;
  width: 80%;
  font-size: 0.8em;
  color: #27214D;
}

.add-basket .add-basket-box-2 .img-heart-basket-add {
  position: absolute;
  top: 89.5%;
  left: 8%;
  width: 9%;
  height: 8%;
}

.add-basket .add-basket-box-2 .btn-add-basket {
  position: absolute;
  top: 85%;
  left: 35%;
  width: 60%;
  height: 15%;
  font-size: 1.1em;
  color: #ffffff;
  background: #ffa451;
  border-radius: 8px;
  border: none;
}

.order-list {
  font-family: "Lato", sans-serif;
}

.order-list .order-list-box-1 {
  position: absolute;
  width: 100%;
  height: 17%;
  top: 8%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffa451;
}

.order-list .order-list-box-1 .my-basket {
  position: absolute;
  top: 42%;
  left: 39%;
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 500;
}

.order-list .order-list-box-1 .button-back-order-list {
  position: absolute;
  border-radius: 20px;
  width: 13vh;
  height: 5vh;
  top: 40%;
  left: 2vh;
  border: none;
  font-size: 1em;
  color: #000000;
}

.order-list .order-list-box-2 .img-dish-1 {
  position: absolute;
  top: 23vh;
  left: 5vh;
  width: 10%;
  height: 6%;
}

.order-list .order-list-box-2 .img-dish-2 {
  position: absolute;
  top: 38vh;
  left: 5vh;
  width: 10%;
  height: 6%;
}

.order-list .order-list-box-2 .img-dish-3 {
  position: absolute;
  top: 52.7vh;
  left: 5vh;
  width: 10%;
  height: 6%;
}

.order-list .order-list-box-2 .img-black-simbol-1 {
  position: absolute;
  top: 25.3%;
  left: 75%;
}

.order-list .order-list-box-2 .img-black-simbol-2 {
  position: absolute;
  top: 42vh;
  left: 75%;
}

.order-list .order-list-box-2 .img-black-simbol-3 {
  position: absolute;
  top: 56vh;
  left: 75%;
}

.order-list .order-list-box-2 .dish-1 {
  position: absolute;
  top: 23vh;
  left: 15vh;
  font-size: 0.8em;
}

.order-list .order-list-box-2 .dish-2 {
  position: absolute;
  top: 39vh;
  left: 15vh;
  font-size: 0.8em;
}

.order-list .order-list-box-2 .dish-3 {
  position: absolute;
  top: 53.5vh;
  left: 15vh;
  font-size: 0.8em;
}

.order-list .order-list-box-2 .dish-description-1 {
  position: absolute;
  top: 27vh;
  left: 15vh;
  font-size: 0.7em;
}

.order-list .order-list-box-2 .dish-description-2 {
  position: absolute;
  top: 43vh;
  left: 15vh;
  font-size: 0.7em;
}

.order-list .order-list-box-2 .dish-description-3 {
  position: absolute;
  top: 57vh;
  left: 15vh;
  font-size: 0.7em;
}

.order-list .order-list-box-2 .dish-value-1 {
  position: absolute;
  top: 25vh;
  left: 82%;
}

.order-list .order-list-box-2 .dish-value-2 {
  position: absolute;
  top: 42vh;
  left: 82%;
}

.order-list .order-list-box-2 .dish-value-3 {
  position: absolute;
  top: 56vh;
  left: 82%;
}

.order-list .order-list-box-2 .total-text {
  position: absolute;
  top: 90%;
  left: 8%;
  font-size: 0.9em;
}

.order-list .order-list-box-2 .value-total {
  position: absolute;
  top: 93.5%;
  left: 13%;
  font-size: 1em;
}

.order-list .order-list-box-2 .total-money-simbol {
  position: absolute;
  top: 93.5%;
  left: 7.5%;
  width: 4%;
  height: 2.5%;
}

.order-list .order-list-box-2 .btn-checkout {
  position: absolute;
  top: 90%;
  left: 40%;
  width: 55%;
  height: 7.5%;
  font-size: 1.1em;
  color: #ffffff;
  background: #ffa451;
  border-radius: 8px;
  border: none;
}

.form-address {
  font-family: "Lato", sans-serif;
}

.form-address .form-address-box {
  position: absolute;
  width: 98%;
  height: 50%;
  top: 25.5%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: black solid 2px;
}

.form-address .form-address-box #address-label {
  position: absolute;
  top: 5%;
  left: 2%;
  font-size: 1.3em;
}

.form-address .form-address-box #address-input {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 80%;
  height: 10%;
  border-color: #F3F1F1;
  border-radius: 10px;
  background: #F3F1F1;
}

.form-address .form-address-box #address-input::-webkit-input-placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-address .form-address-box #address-input:-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-address .form-address-box #address-input::-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-address .form-address-box #address-input::placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-address .form-address-box #phone-number-label {
  position: absolute;
  top: 45%;
  left: 2%;
  font-size: 1.3em;
}

.form-address .form-address-box #phone-number-input {
  position: absolute;
  top: 60%;
  left: 5%;
  width: 80%;
  height: 10%;
  border-color: #F3F1F1;
  border-radius: 8px;
  background: #F3F1F1;
}

.form-address .form-address-box #phone-number-input::-webkit-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-address .form-address-box #phone-number-input:-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-address .form-address-box #phone-number-input::-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-address .form-address-box #phone-number-input::placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-address .form-address-box .btn-delivery {
  position: absolute;
  width: 33%;
  height: 13%;
  border-radius: 7px;
  top: 82%;
  left: 7%;
  border-color: #ffa451;
  color: #ffa451;
  background: #ffffff;
}

.form-address .form-address-box .btn-card {
  position: absolute;
  width: 28%;
  height: 13%;
  border-radius: 7px;
  top: 82%;
  left: 65%;
  border-color: #ffa451;
  color: #ffa451;
  background: #ffffff;
}

.form-card {
  font-family: "Lato", sans-serif;
}

.form-card .form-card-box {
  position: absolute;
  width: 98%;
  height: 99%;
  top: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-card .form-card-box #card-name-label {
  position: absolute;
  top: 3%;
  left: 2%;
  font-size: 1.3em;
}

.form-card .form-card-box #card-name-input {
  position: absolute;
  top: 12%;
  left: 5%;
  width: 80%;
  height: 10%;
  border-color: #F3F1F1;
  border-radius: 10px;
  background: #F3F1F1;
}

.form-card .form-card-box #card-name-input::-webkit-input-placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-card .form-card-box #card-name-input:-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-card .form-card-box #card-name-input::-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-card .form-card-box #card-name-input::placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-card .form-card-box #card-number-label {
  position: absolute;
  top: 30%;
  left: 2%;
  font-size: 1.3em;
}

.form-card .form-card-box #card-number-input {
  position: absolute;
  top: 39%;
  left: 5%;
  width: 80%;
  height: 10%;
  border-color: #F3F1F1;
  border-radius: 8px;
  background: #F3F1F1;
}

.form-card .form-card-box #card-number-input::-webkit-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-number-input:-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-number-input::-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-number-input::placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-date-label {
  position: absolute;
  top: 57%;
  left: 2%;
  font-size: 1.3em;
}

.form-card .form-card-box #card-date-input {
  position: absolute;
  top: 67%;
  left: 5%;
  width: 40%;
  height: 10%;
  border-color: #F3F1F1;
  border-radius: 8px;
  background: #F3F1F1;
}

.form-card .form-card-box #card-date-input::-webkit-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-date-input:-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-date-input::-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-date-input::placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-ccv-label {
  position: absolute;
  top: 57%;
  left: 61%;
  font-size: 1.3em;
}

.form-card .form-card-box #card-ccv-input {
  position: absolute;
  top: 67%;
  left: 65%;
  width: 30%;
  height: 10%;
  border-color: #F3F1F1;
  border-radius: 8px;
  background: #F3F1F1;
}

.form-card .form-card-box #card-ccv-input::-webkit-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-ccv-input:-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-ccv-input::-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-ccv-input::placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box .btn {
  background: #ffa451;
  position: absolute;
  width: 101.9%;
  height: 18%;
  top: 92%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 15px;
}

.form-card .form-card-box .btn-complete-order {
  position: absolute;
  width: 45%;
  height: 55%;
  border-radius: 10px;
  top: 30%;
  left: 30%;
  border-color: #ffa451;
  color: #ffa451;
  background: #ffffff;
}
/*# sourceMappingURL=style.css.map */