@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
.basket-fruit-index-background {
  background: #ffa451;
  width: 100%;
  height: 50vh;
  position: relative;
}

.basket-fruit-index-background .basket-fruit-index {
  position: absolute;
  height: 45vh;
  width: 42vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.basket-fruit-index-background .basket-fruit-index .img-fruits {
  width: 8vh;
  height: 6vh;
  margin: 130px 0px 0px 305px;
  position: absolute;
  bottom: 35vh;
  right: 2vh;
}

.basket-fruit-index-background .basket-fruit-index .img-fruits-basket {
  position: relative;
  width: 40vh;
  height: 34vh;
  top: 10%;
}

.basket-fruit-index-background .basket-fruit-index .img-shadow-basket {
  position: absolute;
  width: 40vh;
  height: 2vh;
  top: 40vh;
  right: 1vh;
}

.description {
  background: #ffffff;
  width: 100%;
  height: 50vh;
  font-family: "Lato", sans-serif;
  position: relative;
}

.description .text-index {
  position: absolute;
  height: 45vh;
  width: 42vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.description .text-index h1 {
  color: #27214D;
  left: 3vh;
  top: 11vh;
  font-size: 1.2em;
  position: absolute;
}

.description .text-index p {
  color: #5D577E;
  font-size: 16px;
  left: 3vh;
  top: 18vh;
  font-size: 1.1em;
  position: absolute;
}

.description .text-index .buttom-continue {
  width: 38vh;
  height: 5vh;
  background: #ffa451;
  left: 3vh;
  top: 30vh;
  font-size: 20px;
  position: absolute;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  border: none;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.basket-fruit-name-background {
  background: #ffa451;
  width: 100%;
  height: 51vh;
  position: relative;
}

.basket-fruit-name-background .basket-fruit-name {
  position: absolute;
  height: 45vh;
  width: 42vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.basket-fruit-name-background .basket-fruit-name .img-fruits {
  width: 8vh;
  height: 6vh;
  margin: 130px 0px 0px 305px;
  position: absolute;
  bottom: 35vh;
  right: 2vh;
}

.basket-fruit-name-background .basket-fruit-name .img-fruits-basket-elliptic {
  position: relative;
  width: 40vh;
  height: 34vh;
  top: 10%;
}

.basket-fruit-name-background .basket-fruit-name .img-shadow-basket {
  position: absolute;
  width: 40vh;
  height: 2vh;
  top: 40vh;
  right: 1vh;
}

.form-name-box {
  background: #ffffff;
  width: 100%;
  height: 50vh;
  font-family: "Lato", sans-serif;
  position: relative;
}

.form-name-box .form-name {
  position: absolute;
  height: 40vh;
  width: 45vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-name-box .form-name #label-name {
  color: #27214D;
  width: 35vh;
  left: 2vh;
  top: 5vh;
  font-size: 1.1em;
  position: absolute;
}

.form-name-box .form-name #name {
  border: none;
  height: 5vh;
  width: 40vh;
  left: 1.2vh;
  top: 16vh;
  font-size: 1em;
  position: absolute;
  background: #F3F1F1;
}

.form-name-box .form-name #name::-webkit-input-placeholder {
  color: #C2BDBD;
}

.form-name-box .form-name #name:-ms-input-placeholder {
  color: #C2BDBD;
}

.form-name-box .form-name #name::-ms-input-placeholder {
  color: #C2BDBD;
}

.form-name-box .form-name #name::placeholder {
  color: #C2BDBD;
}

.form-name-box .form-name .buttom-start {
  width: 40vh;
  height: 7vh;
  background: #ffa451;
  left: 1.2vh;
  top: 24vh;
  font-size: 20px;
  position: absolute;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  border: none;
  border-radius: 10px;
}

.index-template {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.index-template .index-box {
  position: absolute;
  width: 30vh;
  height: 35vh;
  top: 25%;
  left: 25%;
  border: black solid 2px;
}

.index-template .index-box .img-index {
  position: absolute;
  width: 20vh;
  height: 17vh;
  top: 7vh;
  right: 2vh;
  left: 5vh;
}

.index-template .index-box .img-logo-text {
  position: relative;
  width: 50vh;
  height: 20vh;
  top: 15vh;
  right: 10vh;
}
/*# sourceMappingURL=style.css.map */