@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap%27");
.basket-fruit-index-background {
  background: #ffa451;
  width: 100%;
  height: 50vh;
  position: relative;
}

.basket-fruit-index-background .basket-fruit-index {
  position: absolute;
  height: 45vh;
  width: 42vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.basket-fruit-index-background .basket-fruit-index .img-fruits {
  width: 8vh;
  height: 6vh;
  margin: 130px 0px 0px 305px;
  position: absolute;
  bottom: 35vh;
  right: 2vh;
}

.basket-fruit-index-background .basket-fruit-index .img-fruits-basket {
  position: relative;
  width: 40vh;
  height: 34vh;
  top: 10%;
}

.basket-fruit-index-background .basket-fruit-index .img-shadow-basket {
  position: absolute;
  width: 40vh;
  height: 2vh;
  top: 40vh;
  right: 1vh;
}

.description {
  background: #ffffff;
  width: 100%;
  height: 50vh;
  font-family: "Lato", sans-serif;
  position: relative;
}

.description .text-index {
  position: absolute;
  height: 45vh;
  width: 42vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.description .text-index h1 {
  color: #27214D;
  left: 4.5%;
  top: 15%;
  font-size: 1.1em;
  position: absolute;
}

.description .text-index p {
  color: #5D577E;
  font-size: 16px;
  left: 4.5%;
  top: 30%;
  font-size: 1em;
  position: absolute;
}

.description .text-index .buttom-continue {
  width: 38vh;
  height: 7vh;
  background: #ffa451;
  left: 5.5%;
  top: 60%;
  font-size: 20px;
  position: absolute;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  border: none;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  width: 100vw;
}

.basket-fruit-name-background {
  background: #ffa451;
  width: 100%;
  height: 51vh;
  position: relative;
}

.basket-fruit-name-background .basket-fruit-name {
  position: absolute;
  height: 45vh;
  width: 42vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.basket-fruit-name-background .basket-fruit-name .img-fruits {
  width: 8vh;
  height: 6vh;
  margin: 130px 0px 0px 305px;
  position: absolute;
  bottom: 35vh;
  right: 2vh;
}

.basket-fruit-name-background .basket-fruit-name .img-fruits-basket-elliptic {
  position: relative;
  width: 40vh;
  height: 34vh;
  top: 10%;
}

.basket-fruit-name-background .basket-fruit-name .img-shadow-basket {
  position: absolute;
  width: 40vh;
  height: 2vh;
  top: 40vh;
  right: 1vh;
}

.form-name-box {
  background: #ffffff;
  width: 100%;
  height: 50vh;
  font-family: "Lato", sans-serif;
  position: relative;
}

.form-name-box .form-name {
  position: absolute;
  height: 40vh;
  width: 45vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-name-box .form-name #label-name {
  color: #27214D;
  width: 35vh;
  left: 8%;
  top: 5vh;
  font-size: 1.1em;
  position: absolute;
}

.form-name-box .form-name #name {
  border: none;
  height: 5vh;
  width: 40vh;
  left: 10%;
  top: 30%;
  font-size: 1em;
  position: absolute;
  background: #F3F1F1;
}

.form-name-box .form-name #name::-webkit-input-placeholder {
  color: #C2BDBD;
}

.form-name-box .form-name #name:-ms-input-placeholder {
  color: #C2BDBD;
}

.form-name-box .form-name #name::-ms-input-placeholder {
  color: #C2BDBD;
}

.form-name-box .form-name #name::placeholder {
  color: #C2BDBD;
}

.form-name-box .form-name .buttom-start {
  width: 40vh;
  height: 7vh;
  background: #ffa451;
  left: 5%;
  top: 24vh;
  font-size: 20px;
  position: absolute;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  border: none;
  border-radius: 10px;
}

.index-template {
  background: #ffffff;
}

.index-template .index-box {
  position: absolute;
  width: 60%;
  height: 50%;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.index-template .index-box .img-index {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}

.home-welcome {
  background: #ffffff;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 27%;
}

.home-welcome .home-screen-details-box {
  position: absolute;
  width: 99%;
  height: 24.5%;
  top: 12.5%;
  bottom: 50%;
  left: 49.2%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home-welcome .home-screen-details-box .img-menu-home {
  position: absolute;
  top: 2vh;
  left: 1.5vh;
}

.home-welcome .home-screen-details-box .img-menu-basket {
  position: absolute;
  top: 1vh;
  left: 84%;
}

.home-welcome .home-screen-details-box h1 {
  position: absolute;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  width: 75%;
  top: 7vh;
  left: 2vh;
}

.home-welcome .home-screen-details-box .search-input {
  position: absolute;
  width: 80%;
  height: 5vh;
  top: 18vh;
  left: 3vh;
  font-size: 0.9em;
  border: none;
}

.home-welcome .home-screen-details-box .search-input .search-input::-webkit-input-placeholder {
  color: #86869E;
}

.home-welcome .home-screen-details-box .search-input .search-input:-ms-input-placeholder {
  color: #86869E;
}

.home-welcome .home-screen-details-box .search-input .search-input::-ms-input-placeholder {
  color: #86869E;
}

.home-welcome .home-screen-details-box .search-input .search-input::placeholder {
  color: #86869E;
}

.home-welcome .home-screen-details-box .img-filter-home {
  position: absolute;
  width: 2.5vh;
  height: 1.5vh;
  top: 19.7vh;
  left: 90%;
}

.home-recomended {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  padding-bottom: 10%;
}

.home-recomended h1 {
  padding-top: 1em;
  font-size: 1.4em;
  color: #27214D;
}

.home-recomended .all-cards {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-recomended .all-cards .card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 10px;
  border: none;
  width: 45%;
  height: 12em;
}

.home-recomended .all-cards .card .card-show {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-recomended .all-cards .card .card-show img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  padding: 5%;
}

.home-recomended .all-cards .card .card-show h2 {
  color: #27214D;
  font-size: 0.9em;
  padding: 0 0.5em;
}

.home-recomended .all-cards .card .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-recomended .all-cards .card .information .heart {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.home-recomended .all-cards .card .information .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}

.home-recomended .all-cards .card .information .value .money-simbol {
  height: 0.9em;
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
}

.home-recomended .all-cards .card .information .value h2 {
  position: absolute;
  left: 2em;
  bottom: 0.5em;
  font-size: 0.9em;
  color: #ffa451;
}

.home-recomended .all-cards .card .information .addition {
  height: 2em;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}

.home-category .categorys {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home-category .categorys .title-category-1 {
  font-weight: bold;
  font-size: 1.2rem;
  color: #27214D;
  cursor: pointer;
  -webkit-text-decoration: underline #ffa451 4px;
          text-decoration: underline #ffa451 4px;
}

.home-category .categorys .title-category-2 {
  font-size: 1.1rem;
  color: #938db5;
  text-decoration: none;
  cursor: pointer;
}

.home-category .categorys .title-category-2:hover {
  text-decoration: underline;
}

.home-category .categorys .title-category-3 {
  font-size: 1.1rem;
  color: #938db5;
  text-decoration: none;
  cursor: pointer;
}

.home-category .categorys .title-category-3:hover {
  text-decoration: underline;
}

.home-category .categorys .title-category-4 {
  font-size: 1.1rem;
  color: #938db5;
  text-decoration: none;
  cursor: pointer;
}

.home-category .categorys .title-category-4:hover {
  text-decoration: underline;
}

.home-slider {
  width: 100%;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.home-slider .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-width: 37%;
  margin: 5% 2.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  border: none;
  height: 12em;
}

.home-slider .card .card-show {
  text-align: center;
  width: 100%;
  height: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-slider .card .card-show .heart {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1em;
  width: 1em;
  right: 0.5em;
  top: 0.5em;
}

.home-slider .card .card-show .image {
  position: relative;
  width: 100%;
  height: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-slider .card .card-show .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: auto auto;
  vertical-align: center;
}

.home-slider .card .card-show h2 {
  color: #27214D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 0.9em;
  padding: 0 0.5em;
}

.home-slider .card .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-slider .card .information .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}

.home-slider .card .information .value .money-simbol {
  height: 0.9em;
  position: absolute;
  left: 0.2em;
  bottom: 0.2em;
}

.home-slider .card .information .value h2 {
  left: 2em;
  position: absolute;
  bottom: 0.5em;
  font-size: 0.9em;
  color: #ffa451;
}

.home-slider .card .information .addition {
  position: absolute;
  height: 2em;
  right: 0.2em;
  bottom: 0.5em;
}

.home-slider .card:nth-of-type(1) {
  background-color: #FFFAEB;
}

.home-slider .card:nth-of-type(2) {
  background-color: #FEF0F0;
}

.home-slider .card:nth-of-type(3) {
  background-color: #F1EFF6;
}

.home-slider .card:nth-of-type(4) {
  background-color: #E9ECFF;
}

.home-slider .card:nth-of-type(5) {
  background-color: #F0FAEB;
}

.complete-order {
  background: #ffffff;
}

.complete-order .complete-order-box {
  position: absolute;
  width: 90%;
  height: 80%;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.complete-order .complete-order-box .img-completo-order {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
}

.complete-order .complete-order-box h1 {
  position: absolute;
  color: #27214D;
  font-size: 1.7em;
  top: 50%;
  width: 100%;
  text-align: center;
}

.complete-order .complete-order-box p {
  position: absolute;
  color: #27214D;
  font-size: 1em;
  top: 60%;
  width: 100%;
  text-align: center;
}

.complete-order .complete-order-box #track-order {
  font-family: "Lato", sans-serif;
  position: absolute;
  width: 15vh;
  height: 6vh;
  top: 75%;
  border-radius: 5px;
  background: #ffa451;
  border: none;
  color: #ffffff;
  margin-left: 35.75%;
  margin-right: 35.75%;
}

.complete-order .complete-order-box #coninue-shopping {
  font-family: "Lato", sans-serif;
  position: absolute;
  width: 20vh;
  height: 6vh;
  top: 90%;
  margin-left: 31%;
  margin-right: 31%;
  border-radius: 5px;
  background: #ffffff;
  border: #ffa451 solid 1px;
  color: #ffa451;
}

.tracker-order {
  font-family: "Lato", sans-serif;
}

.tracker-order .tracker-order-box-1 {
  position: absolute;
  width: 100vw;
  height: 18%;
  background: #ffa451;
}

.tracker-order .tracker-order-box-1 .delivery-status {
  position: absolute;
  top: 50%;
  left: 18vh;
  font-size: 1.2em;
  color: #ffffff;
  font-weight: 500;
}

.tracker-order .tracker-order-box-1 .button-back {
  position: absolute;
  border-radius: 20px;
  width: 13vh;
  height: 5vh;
  top: 45%;
  left: 3vh;
  border: none;
  font-size: 0.9em;
  color: #000000;
}

.tracker-order .tracker-order-box-2 {
  position: absolute;
  width: 98%;
  height: 80.9%;
  top: 59%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
}

.tracker-order .tracker-order-box-2 .order-taken {
  position: absolute;
  font-size: 0.9em;
  left: 25%;
  top: 6vh;
}

.tracker-order .tracker-order-box-2 .img-right-tracker-1 {
  position: absolute;
  top: 6%;
  left: 87%;
}

.tracker-order .tracker-order-box-2 .img-paper-pencil {
  position: absolute;
  top: 4.1vh;
  left: 2vh;
}

.tracker-order .tracker-order-box-2 .img-line-1 {
  position: absolute;
  left: 5.5vh;
  top: 12vh;
}

.tracker-order .tracker-order-box-2 .img-clipboard {
  position: absolute;
  left: 1.7vh;
  top: 20vh;
}

.tracker-order .tracker-order-box-2 .img-right-tracker-2 {
  position: absolute;
  top: 25%;
  left: 87%;
}

.tracker-order .tracker-order-box-2 .Order-is-being-1 {
  position: absolute;
  font-size: 0.9em;
  left: 25%;
  top: 22vh;
}

.tracker-order .tracker-order-box-2 .img-line-2 {
  position: absolute;
  left: 5.5vh;
  top: 29vh;
}

.tracker-order .tracker-order-box-2 .img-bike {
  position: absolute;
  top: 35vh;
  left: 3%;
}

.tracker-order .tracker-order-box-2 .img-phone {
  position: absolute;
  top: 45%;
  left: 86%;
}

.tracker-order .tracker-order-box-2 .Order-is-being-2 {
  position: absolute;
  font-size: 0.9em;
  left: 25%;
  top: 37vh;
}

.tracker-order .tracker-order-box-2 .text-tracker-order {
  position: absolute;
  top: 40vh;
  left: 28%;
  font-size: 0.7em;
}

.tracker-order .tracker-order-box-2 .img-line-3 {
  position: absolute;
  left: 5.5vh;
  top: 53%;
}

.tracker-order .tracker-order-box-2 .img-map {
  position: absolute;
  border-radius: 2px;
  top: 48vh;
  left: 8%;
  width: 90%;
}

.tracker-order .tracker-order-box-2 .img-line-4 {
  position: absolute;
  left: 5.5vh;
  top: 65vh;
}

.tracker-order .tracker-order-box-2 .img-right-tracker-3 {
  position: absolute;
  top: 90%;
  left: 7%;
}

.tracker-order .tracker-order-box-2 .order-recived {
  position: absolute;
  top: 91.8%;
  font-size: 0.9em;
  left: 13vh;
}

.tracker-order .tracker-order-box-2 .img-three-point {
  position: absolute;
  top: 93%;
  left: 87%;
}

.add-basket {
  font-family: "Lato", sans-serif;
}

.add-basket .add-basket-box-1 {
  position: absolute;
  width: 100%;
  height: 44%;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffa451;
}

.add-basket .add-basket-box-1 .button-back-add-basket {
  position: absolute;
  border-radius: 20px;
  width: 13vh;
  height: 5vh;
  top: 25%;
  left: 2vh;
  border: none;
  font-size: 0.9em;
  color: #000000;
}

.add-basket .add-basket-box-1 .img-dish-add-basket {
  position: absolute;
  top: 38%;
  left: 22.5%;
}

.add-basket .add-basket-box-2 {
  position: absolute;
  width: 98.5%;
  height: 56%;
  top: 65.4%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
}

.add-basket .add-basket-box-2 .order-name {
  position: absolute;
  top: 5%;
  left: 5%;
  color: #27214D;
  font-size: 1.7em;
}

.add-basket .add-basket-box-2 .img-minus {
  position: absolute;
  top: 20.3%;
  left: 3%;
  width: 4.5vh;
  height: 4.5vh;
}

.add-basket .add-basket-box-2 .img-addition-add-basket {
  position: absolute;
  top: 20.3%;
  left: 26%;
  width: 4.5vh;
  height: 4.5vh;
}

.add-basket .add-basket-box-2 .order-quantity {
  position: absolute;
  top: 21%;
  left: 18%;
  color: #27214D;
  font-size: 1.3em;
  font-weight: bold;
}

.add-basket .add-basket-box-2 .img-money-simbol-black {
  position: absolute;
  top: 22.2%;
  left: 72%;
}

.add-basket .add-basket-box-2 .order-value {
  position: absolute;
  top: 20.6%;
  left: 80%;
  font-size: 1.3em;
  color: #27214D;
  font-weight: bold;
}

.add-basket .add-basket-box-2 .order-title-description {
  position: absolute;
  top: 38%;
  left: 5%;
  font-size: 1.2em;
  -webkit-text-decoration: underline #ffa451 2px;
          text-decoration: underline #ffa451 2px;
  color: #27214D;
}

.add-basket .add-basket-box-2 .pack-content {
  position: absolute;
  top: 48%;
  left: 5%;
  font-size: 0.8em;
  color: #27214D;
}

.add-basket .add-basket-box-2 .pack-description {
  position: absolute;
  top: 65%;
  left: 5%;
  width: 80%;
  font-size: 0.7em;
  color: #27214D;
}

.add-basket .add-basket-box-2 .img-heart-basket-add {
  position: absolute;
  top: 89.5%;
  left: 8%;
  width: 30px;
  height: 30px;
}

.add-basket .add-basket-box-2 .btn-add-basket {
  position: absolute;
  top: 85%;
  left: 35%;
  width: 60%;
  height: 15%;
  font-size: 1.1em;
  color: #ffffff;
  background: #ffa451;
  border-radius: 8px;
  border: none;
}

.order-list {
  font-family: "Lato", sans-serif;
}

.order-list .order-list-box-1 {
  position: absolute;
  width: 100%;
  height: 17%;
  top: 8%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffa451;
}

.order-list .order-list-box-1 .my-basket {
  position: absolute;
  top: 42%;
  left: 39%;
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 500;
}

.order-list .order-list-box-1 .button-back-order-list {
  position: absolute;
  border-radius: 20px;
  width: 13vh;
  height: 5vh;
  top: 40%;
  left: 2vh;
  border: none;
  font-size: 1em;
  color: #000000;
}

.order-list .order-list-box-2 .img-dish-1 {
  position: absolute;
  top: 23vh;
  left: 5%;
}

.order-list .order-list-box-2 .img-dish-2 {
  position: absolute;
  top: 38vh;
  left: 5%;
}

.order-list .order-list-box-2 .img-dish-3 {
  position: absolute;
  top: 52.7vh;
  left: 2%;
}

.order-list .order-list-box-2 .img-black-simbol-1 {
  position: absolute;
  top: 25.3%;
  left: 75%;
}

.order-list .order-list-box-2 .img-black-simbol-2 {
  position: absolute;
  top: 42vh;
  left: 75%;
}

.order-list .order-list-box-2 .img-black-simbol-3 {
  position: absolute;
  top: 56vh;
  left: 75%;
}

.order-list .order-list-box-2 .dish-1 {
  position: absolute;
  top: 23vh;
  left: 15vh;
  font-size: 0.9em;
}

.order-list .order-list-box-2 .dish-2 {
  position: absolute;
  top: 39vh;
  left: 15vh;
  font-size: 0.9em;
}

.order-list .order-list-box-2 .dish-3 {
  position: absolute;
  top: 53.5vh;
  left: 15vh;
  font-size: 0.9em;
}

.order-list .order-list-box-2 .dish-description-1 {
  position: absolute;
  top: 27vh;
  left: 15vh;
  font-size: 0.8em;
}

.order-list .order-list-box-2 .dish-description-2 {
  position: absolute;
  top: 43vh;
  left: 15vh;
  font-size: 0.8em;
}

.order-list .order-list-box-2 .dish-description-3 {
  position: absolute;
  top: 57vh;
  left: 15vh;
  font-size: 0.8em;
}

.order-list .order-list-box-2 .dish-value-1 {
  position: absolute;
  top: 25vh;
  left: 82%;
}

.order-list .order-list-box-2 .dish-value-2 {
  position: absolute;
  top: 42vh;
  left: 82%;
}

.order-list .order-list-box-2 .dish-value-3 {
  position: absolute;
  top: 56vh;
  left: 82%;
}

.order-list .order-list-box-2 .total-text {
  position: absolute;
  top: 90%;
  left: 8%;
  font-size: 0.9em;
}

.order-list .order-list-box-2 .value-total {
  position: absolute;
  top: 93.5%;
  left: 13%;
  font-size: 1em;
}

.order-list .order-list-box-2 .total-money-simbol {
  position: absolute;
  top: 93.5%;
  left: 7.5%;
  width: 4%;
  height: 2.5%;
}

.order-list .order-list-box-2 .btn-checkout {
  position: absolute;
  top: 90%;
  left: 40%;
  width: 55%;
  height: 7.5%;
  font-size: 1.1em;
  color: #ffffff;
  background: #ffa451;
  border-radius: 8px;
  border: none;
}

.form-address {
  font-family: "Lato", sans-serif;
}

.form-address .form-address-box {
  position: absolute;
  width: 98%;
  height: 50%;
  top: 25.5%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-address .form-address-box #address-label {
  position: absolute;
  top: 5%;
  left: 2%;
  font-size: 1.3em;
}

.form-address .form-address-box #address-input {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 80%;
  height: 10%;
  border-color: #F3F1F1;
  border-radius: 10px;
  background: #F3F1F1;
}

.form-address .form-address-box #address-input::-webkit-input-placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-address .form-address-box #address-input:-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-address .form-address-box #address-input::-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-address .form-address-box #address-input::placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-address .form-address-box #phone-number-label {
  position: absolute;
  top: 45%;
  left: 2%;
  font-size: 1.3em;
}

.form-address .form-address-box #phone-number-input {
  position: absolute;
  top: 60%;
  left: 5%;
  width: 80%;
  height: 10%;
  border-color: #F3F1F1;
  border-radius: 8px;
  background: #F3F1F1;
}

.form-address .form-address-box #phone-number-input::-webkit-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-address .form-address-box #phone-number-input:-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-address .form-address-box #phone-number-input::-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-address .form-address-box #phone-number-input::placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-address .form-address-box .btn-delivery {
  position: absolute;
  width: 33%;
  height: 13%;
  border-radius: 7px;
  top: 82%;
  left: 7%;
  border-color: #ffa451;
  color: #ffa451;
  background: #ffffff;
}

.form-address .form-address-box .btn-card {
  position: absolute;
  width: 28%;
  height: 13%;
  border-radius: 7px;
  top: 82%;
  left: 65%;
  border-color: #ffa451;
  color: #ffa451;
  background: #ffffff;
}

.form-card {
  font-family: "Lato", sans-serif;
}

.form-card .form-card-box {
  position: absolute;
  width: 98%;
  height: 99%;
  top: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-card .form-card-box #card-name-label {
  position: absolute;
  top: 3%;
  left: 2%;
  font-size: 1.3em;
}

.form-card .form-card-box #card-name-input {
  position: absolute;
  top: 12%;
  left: 5%;
  width: 80%;
  height: 10%;
  border-color: #F3F1F1;
  border-radius: 10px;
  background: #F3F1F1;
}

.form-card .form-card-box #card-name-input::-webkit-input-placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-card .form-card-box #card-name-input:-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-card .form-card-box #card-name-input::-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-card .form-card-box #card-name-input::placeholder {
  color: #C2BDBD;
  font-size: 1.2em;
}

.form-card .form-card-box #card-number-label {
  position: absolute;
  top: 30%;
  left: 2%;
  font-size: 1.3em;
}

.form-card .form-card-box #card-number-input {
  position: absolute;
  top: 39%;
  left: 5%;
  width: 80%;
  height: 10%;
  border-color: #F3F1F1;
  border-radius: 8px;
  background: #F3F1F1;
}

.form-card .form-card-box #card-number-input::-webkit-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-number-input:-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-number-input::-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-number-input::placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-date-label {
  position: absolute;
  top: 57%;
  left: 2%;
  font-size: 1.3em;
}

.form-card .form-card-box #card-date-input {
  position: absolute;
  top: 67%;
  left: 5%;
  width: 40%;
  height: 10%;
  border-color: #F3F1F1;
  border-radius: 8px;
  background: #F3F1F1;
}

.form-card .form-card-box #card-date-input::-webkit-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-date-input:-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-date-input::-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-date-input::placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-ccv-label {
  position: absolute;
  top: 57%;
  left: 61%;
  font-size: 1.3em;
}

.form-card .form-card-box #card-ccv-input {
  position: absolute;
  top: 67%;
  left: 65%;
  width: 30%;
  height: 10%;
  border-color: #F3F1F1;
  border-radius: 8px;
  background: #F3F1F1;
}

.form-card .form-card-box #card-ccv-input::-webkit-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-ccv-input:-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-ccv-input::-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box #card-ccv-input::placeholder {
  color: #C2BDBD;
  font-size: 1.4em;
}

.form-card .form-card-box .btn {
  background: #ffa451;
  position: absolute;
  width: 101.9%;
  height: 18%;
  top: 92%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 15px;
}

.form-card .form-card-box .btn-complete-order {
  position: absolute;
  width: 45%;
  height: 55%;
  border-radius: 10px;
  top: 30%;
  left: 30%;
  border-color: #ffa451;
  color: #ffa451;
  background: #ffffff;
}
/*# sourceMappingURL=style.css.map */